# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
/dist/
/build/
*.egg-info/

# Testing / Type checking / Linting
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environment
.env
.env.local

# IDEs
.vscode/
.idea/
*.swp
